*{
    margin: 0;

}

footer {
background-color: rgb(88, 80, 76);
color: white;
text-align: center;
display: flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
}

.some{
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
}

.some img{
    width: 30px;
}

.column {
padding: 10px;
text-align: left;
line-height: 150%;
display: flex;
flex-direction: column;
}

.column a{
    color: #fff;
    text-decoration: none;
}

.column h3{
    text-align: center;
}